{% extends "ajax/ajax.html.twig" %}
{% block title %}{{ 'Aktuelle Städte'|trans({}, 'admin')|raw }}{% endblock %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}
{% block ajax %}
    {% embed "ajax/admin/towns/header.html.twig" with {'search_controller': 'admin_towns_fuzzyfind'} %}{% endembed %}
    <div class="row">
        <div class="cell padded rw-12">
            <ul class="tabs plain">
                <li class="tab {% if admin_tab =='towns' %}selected{% endif %}">
                    <div class="tab-link" x-ajax-href="{{ path('admin_town_list') }}"><span>{{ 'Aktuelle Städte'|trans({}, 'admin') }}</span></div>
                </li>
                <li class="tab {% if admin_tab =='old_towns' %}selected{% endif %}">
                    <div class="tab-link" x-ajax-href="{{ path('admin_old_town_list') }}"><span>{{ 'Fertige Städte'|trans({}, 'admin') }}</span></div>
                </li>
            </ul>
            <h5>{{ 'Bürger nach Sprache'|trans({}, 'admin') }}</h5>
            <div class="row">
                {% for stat in citizen_stats %}
                <div class="cell rw-2 rw-sm-3 center">
                        <img src="{{ asset("build/images/lang/" ~ stat.language ~".png") }}" alt="{{ stat.language }}" /><br />
                        {{ stat.count }}
                </div>
                {% endfor %}
            </div>
            <h5>{{ 'Liste aller Städte'|trans({},'admin') }}</h5>
            <div class="row-table">
                <div class="row header">
                    <div class="cell padded rw-1 rw-sm-0">{{ 'ID'|trans({},'admin') }}</div>
                    <div class="cell padded rw-5 rw-sm-12">{{ 'Stadtname'|trans({},'admin') }}</div>
                    <div class="cell padded rw-1 rw-sm-0">{{ 'Tag'|trans({},'admin') }}</div>
                    <div class="cell padded rw-2 rw-sm-0">{{ 'Pop.'|trans({},'admin') }}</div>
                    <div class="cell padded rw-3 rw-sm-0 right">{{ 'Aktionen'|trans({},'admin') }}</div>
                </div>
                {# @var towns \App\Entity\Town[] #}
                {% for town in towns %}
                    <div class="row-flex wrap">
                        <div class="cell padded rw-1 rw-sm-2 shrink-0" style="opacity: {{ town.scheduledFor > 'now'|to_date ? 0.5 : 1 }}">
                            <span class="hide-mobile">{{ town.id }}</span><span class="small hide-desktop">{{ town.id }}</span><br />
                            {% if town.language is not empty %}
                                <span class="language"><img src="{{ asset("build/images/lang/" ~ town.language ~".png") }}" alt="{{ town.language }}" /></span>
                            {% endif %}
                        </div>
                        <div class="cell padded rw-5 rw-sm-8" style="opacity: {{ town.scheduledFor > 'now'|to_date ? 0.5 : 1 }}">
                            {{ town.name }}<br /><span class="small">{% if town.open %}<i class="fa fa-door-open"></i> {% endif %}{{ town.type.label|trans({},'game') }}</span>
                            {% if town.attackFails >= 3 %}<div style="color: red">{{ 'Quarantäne'|trans({},'game') }}</div> {% endif %}
                            {% if town.rankingEntry.disabled %}<div class="bold" style="color: #ff8800">{{ 'Ranking-Ausschluss'|trans({},'game') }}</div> {% endif %}
                            {% if town.rankingEntry.event %}<div class="bold" style="color: #81b3e2">{{ 'Event-Stadt'|trans({},'ghost') }}</div> {% endif %}
                        </div>
                        {% if town.scheduledFor > 'now'|to_date %}
                            <div class="cell padded rw-3 rw-sm-10 shrink-0">
                                <div class="row-flex v-center">
                                    <div class="padded cell">
                                        <i class="fa fa-clock"></i>
                                    </div>
                                    <div class="padded cell small">
                                        {{ town.scheduledFor|format_date('full') }}<br/>
                                        {{ town.scheduledFor|format_time('short') }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="cell padded rw-1 rw-sm-2 shrink-0">{{ town.day }}</div>
                            <div class="cell padded rw-2 rw-sm-8">
                                {{ town.citizenCount }} / {{ town.population }} {% if town.citizenCount < town.population %}<i title="{{ 'Geöffnet'|trans({},'admin') }}" class="small fa fa-door-open"></i>{% endif %}<br />
                                <span title="{{ 'Leben'|trans({},'admin') }}" class="small"><i class="fa fa-users"></i> {{ town.aliveCitizenCount }}</span> <span title="{{ 'Tot'|trans({},'admin') }}" class="small"><i class="fa fa-skull"></i> {{ town.citizenCount - town.aliveCitizenCount }}</span> <span title="{{ 'Getrennt'|trans({},'admin') }}" class="small"><i class="fa fa-user-slash"></i> {{ town.citizenCount - town.activeCitizenCount }}</span>
                            </div>
                        {% endif %}
                        <div class="cell padded rw-3 rw-sm-4 right">
                            <button x-ajax-href="{{ path('admin_town_explorer', {id: town.id}) }}" class="small inline">{{ 'Details'|trans({},'admin') }}...</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <h5>{{ 'Stadt anlegen'|trans({},'admin') }}</h5>
            <div class="row-flex wrap">
                <div class="padded cell rw-sm-12 grow-0 shrink-0">
                    <label>
                        <select id="new_town_lang">
                            {% for lang in langs %}
                                <option {% if lang['code'] == app.user.language %}selected{% endif%} value="{{ lang['code'] }}">{{ lang['label']|trans({}, 'global') }}</option>
                            {% endfor %}
                            <option value="multi">Multi</option>
                        </select>
                    </label>
                </div>
                <div class="padded cell rw-sm-12 grow-1 shrink-1"><label><input id="new_town_name" type="text" placeholder="{{ 'Stadtname'|trans({},'admin') }}" /></label></div>
                <div class="padded cell rw-sm-12 grow-0 shrink-0"><label><select id="new_town_type">
                    <option value="small">{{ 'Kleine Stadt'|trans({},'game') }}</option>
                    <option selected value="remote">{{ 'Entfernte Regionen'|trans({},'game') }}</option>
                    <option value="panda">{{ 'Pandämonium'|trans({},'game') }}</option>
                </select></label></div>
                <div class="padded cell rw-sm-12 grow-0 shrink-0"><label title="{{ 'Lege einen Zeitpunkt fest, an dem die Stadt eröffnet werden soll. Leer lassen oder einen Zeitpunkt in der Vergangenheit angeben, um die Stadt sofort zu öffnen.'|trans({},'admin') }}"><input type="datetime-local" id="new_town_sched" value="{{ 'today+20min'|to_date|date('Y-m-d\\TH:i:s') }}" /></label></div>
                <div class="padded cell rw-sm-12 shrink-0"><button id="new_town_button">{{ 'Stadt anlegen'|trans({},'admin') }}</button></div>
            </div>
        </div>
    </div>
    {% embed "ajax/admin/towns/footer.html.twig" with {'search_controller': 'admin_towns_fuzzyfind'} %}{% endembed %}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $.html.addEventListenerAll('#new_town_button', 'click', () => {
            let name = document.getElementById('new_town_name').value;
            if (!name) name = null;

            $.ajax.easySend('{{ path('admin_new_town') }}', {
                name: name,
                time: document.getElementById('new_town_sched').value,
                type: document.getElementById('new_town_type').value,
                lang: document.getElementById('new_town_lang').value
            }, () => $.ajax.load(null, '{{ path('admin_town_list') }}'));
        });
    </script>
{% endblock %}