{% extends "ajax/ajax.html.twig" %}
{% block title %}{{ 'Gruppen'|trans({},'admin') }}{% endblock %}
{% block ajax %}
    <div class="row">
        <div class="padded cell rw-12">
            <div class="row-table">
                <div class="row header">
                    <div class="padded cell rw-1 rw-sm-0">{{ 'Sprache'|trans({},'admin') }}</div>
                    <div class="padded cell rw-1 rw-sm-0">{{ 'Anon.'|trans({},'admin') }}</div>
                    <div class="padded cell rw-2 rw-sm-0">{{ 'Icon'|trans({},'admin') }}</div>
                    <div class="padded cell rw-4 rw-sm-6">{{ 'Name'|trans({},'admin') }}</div>
                    <div class="padded cell rw-3 rw-sm-6">{{ 'Mitglieder'|trans({},'admin') }}</div>
                    <div class="padded cell rw-1 rw-sm-0">{{ 'Akt.'|trans({},'admin') }}</div>
                </div>

                {% for group in groups %}
                    <div class="row">
                        <div class="padded cell rw-1 rw-sm-3">{{ group.lang }}</div>
                        <div class="padded cell rw-1 rw-sm-3 center">
                            {% if group.anon %}<img alt="On" src="{{ asset('build/images/icons/tickOn.gif') }}" />
                            {% else %}<img alt="Off" src="{{ asset('build/images/icons/tickOff.gif') }}" />
                            {% endif %}
                        </div>
                        <div class="padded cell rw-2 rw-sm-0">
                            {% include "ajax/soul/playeravatar.html.twig" with {user: group} only %}
                        </div>
                        <div class="padded cell rw-4 rw-sm-6">
                            <div>
                                {{ group.usergroup.name }}
                                <div class="tooltip">{{ group.description }}</div>
                            </div>
                            {% if in_group[group.id] %}<span class="small">{{ 'Mitglied'|trans({},'admin')}}</span>{% endif %}
                        </div>
                        <div class="padded cell rw-3 rw-sm-10">
                            {% if group_members[group.id] is empty and group.anon %}
                                <span class="small">[ {{ 'Die Mitgliederliste ist versteckt.'|trans({},'admin')}} ]</span>
                            {% else %}
                                {{ group_members[group.id]|map(u => u.name)|join(', ') }}
                            {% endif %}
                        </div>
                        <div class="padded cell rw-1 rw-sm-2 right">
                            {% if is_granted("ROLE_ADMIN") %}
                                <button x-ajax-href="{{ path('admin_group_edit', {id: group.id}) }}" class="small inline"><i class="fa fa-edit"></i></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% if is_granted("ROLE_ADMIN") %}
                    <div class="row">
                        <div class="padded cell ro-11 rw-1 right">
                            <button x-ajax-href="{{ path('admin_group_new') }}" class="small inline"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}