{{
    {
        'hordes-map': encore_entry_all_js_files('module-map'),
        'hordes-flash': encore_entry_all_js_files('module-ruffle'),
        'hordes-town-creator': encore_entry_all_js_files('module-town-creator'),
    }|json_encode|raw
}}