{# @var item \App\Entity\Item #}
{% set classes = ['item'] %}
{% if class is defined %}{% set classes = classes|merge([class]) %}{% endif %}
{% if item.broken %}{% set classes = classes|merge(['broken']) %}{% endif %}
{% if count is defined and count > 1 %}{% set classes = classes|merge(['counted']) %}{% endif %}
{% if item.hidden %}{% set classes = classes|merge(['banished_hidden']) %}{% endif %}
{% if item.prototype.hasProperty('defence') %}{% set classes = classes|merge(['defense']) %}{% endif %}
{% if item.essential %}{% set classes = classes|merge(['locked']) %}{% endif %}

<li class="{{ classes|join(' ') }}" {% if no_id is not defined or not no_id %}x-item-id="{{ item.id }}"{% endif %} {% if escort is defined and escort is not null %}x-escort-id="{{ escort }}"{% endif %}>
    <span class="item-icon"><img src="{{ asset('build/images/item/item_' ~ item.prototype.icon ~ '.gif') }}" alt="{{ item.prototype.label|trans({},'items') }}"></span>
    {% if count is defined and count > 1 %}<span>{{ count }}</span>{% endif %}
    {% if no_tooltip is not defined or not no_tooltip %}
        {% embed "ajax/game/item_tooltip.html.twig" with {"item": item, 'debug': debug is defined and debug} %}{% endembed %}
    {% endif %}
</li>