{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Saisons und Ranglisten'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContent %}
<div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
<h1>{{ 'Saisons und Ranglisten'|trans({},'help')|raw }}</h1>
<img class="art" alt="" src="{{ asset('build/images/help/rankingScreenshot.png') }}">
<p>
{{ 'Das Spiel wird in <strong>Saisons</strong> aufgeteilt.'|trans({},'help')|raw }}
</p>
<p>
{{ 'Saisons kommen einer zeitlich begrenzten Liga gleich. Alle in einer Saison gespielten Städte werden in einer Rangliste geführt. 
Saisons kommen einer zeitlich begrenzten Liga gleich. Alle in einer Saison gespielten Städte werden in einer Rangliste geführt. 
Je höher die Punkteanzahl, desto ausgeprägter war die Organisations- und Koordinationsfähigkeit der Bürger dieser Stadt.
<strong>Die Punkteanzahl einer Stadt ist die Summe aller überlebten Tage ihrer Einwohner.</strong>'|trans({},'help')|raw }}
</p>
<p>
{{ '<strong>Wichtig:</strong> Es werden nur Städte in Entfernten Regionen
oder aus dem Pandemonium
in die Rangliste aufgenommen. Kleine Städte oder Privatstädte werden nicht ins offizielle Ranking aufgenommen. Privatstädte haben seit Saison 5 eine eigene Rangliste.'|trans({},'help')|raw }}
</p>
<h2>{{ 'Saisonende'|trans({},'help')|raw }}</h2>
<p>
{{ 'Am Ende einer Saison erhalten die Bürger der erstplatzierten Stadt eine Belohnung. Die Rangliste wird anschließend gelöscht und die nächste Saison beginnt wieder bei Null.'|trans({},'help')|raw }}
</p>
<ul>
<li>{{ '<strong>Alle Nachrichten der Siegerbürger werden in allen Foren </strong> eine Saison lang besonders hervorgehoben'|trans({},'help')|raw }} <sup>1</sup>.</li>
<li>{{ 'Die Sieger beginnen zudem jede Stadt mit einem <strong>zusätzlichen Ausrüstungsgegenstand</strong>'|trans({},'help')|raw }} <sup>1</sup>.</li>
<li>{{ 'Die Sieger erhalten eine einzigartige <strong>Auszeichung</strong> und einen dazugehörenden <strong>Titel</strong>.'|trans({},'help')|raw }}</li>
{# <li>Los <strong>mejores jugadores de cada temporada</strong> quedarán inmortalizados en el juego ya que sus nombres quedarán grabados en algunos pueblos.</li> #}
</ul>
<p>
<i>{{ '1: Die gewonnenen Belohnungen verfallen am Ende der nächsten Saison. Der gewonnene Titel bleibt allerdings erhalten.'|trans({},'help')|raw }}</i>
</p>
<p>
{{ 'Alle Bürger, die in einer Stadt gelebt haben, die es am Ende der Saison in die Rangliste geschafft hat, erhalten eine <strong>andere Auszeichung</strong> als die Bürger der ersten Stadt. Dabei erhält <strong>jede</strong> ranglistengeführte Stadt eine Auszeichung.'|trans({},'help')|raw }}
</p>
<h2>{{ 'Seelenrangliste'|trans({},'help')|raw }}</h2>
<p>
{{ 'Diese Liste wird am Ende einer Saison nicht zurückgesetzt. Deshalb gibt es für die ersten Plätze hier keine besondere Belohnung.'|trans({},'help')|raw }}
</p>
<p>
{{ 'Städte haben eine eigene Rangliste pro saison.'|trans({},'help')|raw }}
</p>
<h2>{{ 'Zusätzliche Regeln'|trans({},'help')|raw }}</h2>
<ul>
<li>
{{ 'Wenn eine Stadt am Ende einer Saison startet, aber in der darauf folgenden Saison stirbt, wird sie punktemäßig der neuen Saison zugeschlagen.'|trans({},'help')|raw }}
</li>
<li>{{ 'Alle Ranglisten werden jeden Tag um Mitternacht aktualisiert.'|trans({},'help')|raw }}</li>
<li>{{ 'Eine Stadt taucht erst dann in der Rangliste auf, wenn sie vollkommen zerstört wurde und alle Einwohner gestorben sind.'|trans({},'help')|raw }}</li>
</ul>
<div class="clear"></div>
<a class="button" x-ajax-href="{{ url('help', {'name': 'support'}) }}"><img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move"> {{'Weiter'|trans({}, 'help')}}:<strong> {{ 'Support'|trans({},'help') }}</strong></a>
{% endblock %}