{% extends "seo/framework.html.twig" %}
{% block content %}
    <div class="row-flex v-center">
        <div class="cell padded header rw-7 rw-lg-12 manual-background">

            <div class="row">
                <div class="padded cell background header ro-1 rw-10 ro-md-0 rw-md-12">
                    <h4>{% trans from 'welcome' %}Willkommen bei MyHordes{% endtrans %}</h4>
                    <p class="justify">
                        {{ 'MyHordes ist eine von der Community entwickelte offene Implementierung des Browser-Spiels "Die Verdammten" und seine anderen Versionen von {motiontwin}.'|trans({'{motiontwin}':'<b>MotionTwin</b>'},'welcome')|raw }}
                        <br />
                        {{ 'Ziel des Projektes ist es, eine Version von "Die Verdammten" und seinen anderen Versionen zu erschaffen, die nicht nur nach der Flash-Abschaltung im Jahr 2020 funktionsfähig ist, sondern auch weiterentwickelt und mit neuen Inhalten versorgt werden kann.'|trans({},'welcome') }}
                    </p>

                    <div class="row">
                        <div class="cell rw-12 right">
                                <a href="{{ path( 'seo_help_lang', {lang: app.request.locale} ) }}"><button class="inline hide-sm">{% trans from 'global' %}Hilfe{% endtrans %}</button></a>
                        </div>
                    </div>

                    <p>
                        {{ 'Alle Grafiken stammen, wenn nicht ausdrücklich anders angegeben, ebenfalls aus "Die Verdammten" und seine anderen Versionen und sind damit Eigentum von {motiontwin}.'|trans({'{motiontwin}':'<b>MotionTwin</b>'},'welcome')|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="cell rw-5 rw-lg-12 hide-lg hide-md hide-sm manual-background"><div class="welcome-teaser teaser-{{ random(10)+1 }}"><span>MyHordes</span></div></div>
    </div>
{% endblock %}